[Desktop Entry]
Type=Application
Name=妙压
GenericName=Archive Manager
Comment=Create, browse and extract archive files
Exec=miaozip %f
Icon=miaozip
Terminal=false
Categories=Utility;Archiving;
MimeType=application/zip;application/x-zip;application/x-zip-compressed;application/x-7z-compressed;application/vnd.rar;application/x-rar;application/x-rar-compressed;application/x-tar;application/gzip;application/x-gzip;application/x-compressed-tar;application/x-bzip2;application/bzip2;application/x-bzip;application/x-bzip2-compressed-tar;application/x-bzip-compressed-tar;application/x-xz;application/x-xz-compressed-tar;application/zstd;application/x-zstd;application/x-zstd-compressed-tar;
StartupNotify=true
